@mixin box ($background, $shadow, $padding, $margin) {
    background-color: $background;
    box-shadow: 0 0 5px $shadow;
    border-radius: 10px;
    padding: $padding;
    margin: $margin;
    width: fit-content;
}

.pictureSize {
    height: 160px;
    width: 160px;
    border-radius: 25px;
}

.vynil-card {
    width: 400px;
    height: 420px;
    /* background-color: rgb(176, 84, 79); */
    background-image: url("../../assets/images/background-2.jpg");
    background-size: 180%;
    box-shadow: 0 0 5px #1854af;
    border: 25px;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    .text {
        color: black;
        font-weight: 700;
    }
    .text-title {
        font-family: "Cinzel";
        font-size: 1.8rem;
        font-weight: 700;
        @include box(rgba(216, 102, 67, 0.814), #63170d, 2px, 5px);
        color: white;
    }
    .text-artist {
        font-family: "Cinzel";
        font-size: 1.3rem;
        @include box(rgba(67, 122, 216, 0.814), #0d6324, 2px, 5px);
    }
    .text-price {
        font-family: "Oldenburg";
        font-size: 2rem;
        font-weight: 700;
        @include box(rgba(216, 156, 67, 0.814), #63170d, 2px, 5px);
        color: white;
    }
    .row-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .column-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    .smooth-image-wrapper {
        @extend .pictureSize;
        position: relative;
        .smooth-image {
            transition: opacity 1s;
            @extend .pictureSize;
        }
        .smooth-no-image {
            display: flex;
            align-items: center;
            justify-content: center;
            @extend .pictureSize;
            background-color: #fcfcfc;
            text-transform: capitalize;
        }
        .img-visible {
            opacity: 1;
        }
        .img-hidden {
            opacity: 0;
        }
        @keyframes preloader-block {
            from {
                background-position: 0%, 0;
            }
            to {
                background-position: 170%, 0;
            }
        }
        .smooth-preloader {
            position: absolute;
            top: 0;
            left: 0;
            @extend .pictureSize;
            background: rgba(245, 245, 245, 0.34);
            .loader {
                background-image: url("../../assets/images/background-0.jpg");
                /* linear-gradient(to right, #e6e6e6, #ffffff, #e6e6e6); */
                background-size: 700%;
                @extend .pictureSize;
                display: inline-block;
                background-size: 200%;
                animation: preloader-block 2s linear 0s infinite reverse forwards;
            }
        }
    }
}

