
.vynil-card {
    background-color: antiquewhite;
    border: 25px;
    border-color: red;
    border-radius: 10px;
    .vynil-picture {
        height: 100px;
        width: 100px;
    }
    .text {
        color: black;
    }
}

