.list__container {
    background-size: 100%;
    font-family: "Oldenburg";
    color: black;
    margin-top: -35px;
    padding-top: 50px;
    padding-bottom: 50px;
    .page-title {
        color: black;
        font-family: 'Oldenburg';
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .page-subtitle {
        color: black;
        font-family: 'Oldenburg';
        padding-top: 10px;
        padding-bottom: 10px;
    }
}