.form-title {
    font-family: "Cinzel";
    font-weight: 700;
    font-size: 40px;
    color: black;
    margin-top: 30px;
}
.send-form-img {
    height: 250px;
    width: 300px;
    margin: 30px;
    will-change: filter;
    transition: filter 300ms;
    &:hover {
        filter: drop-shadow(0 0 0.5em #94cb1d);
    }
}
.checkout-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    .input {
        font-family: "Oldenburg";
        font-size: 1.3rem;
        margin: 20px;
        width: 300px;
        height: 40px;
    }
    .error {
        font-family: "Cinzel";
        font-size: 1rem;
        margin-bottom: 10px;
    }
    .button-send-form {
        font-family: "Cinzel";
        margin: 20px;
    }
}