#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.App {
  background-color: blanchedalmond;
}

.page-title {
  color: black;
  font-family: 'Oldenburg';
}

.page-subtitle {
  color: black;
  font-family: 'Oldenburg';
}