* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&family=Cinzel:wght@800&family=Oldenburg&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Linden+Hill&display=swap');

@import './components/Navbar/Navbar.scss';
@import './components/CartWidget/CartWidget.scss'; 
@import './components/ItemListContainer/ItemListContainer.scss';
@import './components/VynilCard/VynilCard.scss'; 
@import './components/VynilCardList/VynilCardList.scss'; 
@import './components/Footer/Footer.scss'; 

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }
    
    to {
        -webkit-mask-position: -50%;
    }
}

@mixin flex ($display, $direction, $justify, $align) {
    display: $display;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}